.car-request-form {
    border-radius: 10px;
    padding: 30px;
}

.car-request-form input {
    padding: 10px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signature {
    display: flex;
    justify-content: space-between;
}

.beside {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@page {
    size: Envelope C5;
    margin: 0;
}

@media print {
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        box-shadow: none;
    }

    .car-request-form {
        border-radius: none;
        padding: 20px !important;
        border: 1px solid black;
    }

    .car-request-form input {
        padding: 10px 20px !important;
    }
}