.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    /* background-color: #b4ff4470; */
    /* height: 70vh; */
    border-radius: 10px;
    margin-top: 100px;
    /* box-shadow: 2px 5px 10px rgba(0, 0, 0, .4); */
}