.button {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.21);
    transition: ease-in-out all .5s;
}

.button:hover {
    box-shadow: none;
}

.button:hover span>:first-child {
    color: #0094f7;
    border: 1px solid;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.21);
    padding: 10px;
}

span>:first-child {
    color: #0094f7;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.button a {
    padding: 10px 20px !important;
    border: none;
    background-color: #ffffff00;
    color: #0094f7;
    /* border: 1px solid #0094f7; */
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
    text-decoration: none !important;
}

.button a:hover {
    background-color: #0094f7;
    color: white;
}

.bnts {
    margin: 20px !important;
    text-align: center;
}

@media print {
    .bnts {
        display: none !important;
    }
}