.button {
    width: 200px;
    height: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 8px 10px 3px rgba(0, 0, 0, 0.21);
}

.button:hover {
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.21);
}

span>:first-child {
    color: #0094f7;
    width: 100px;
    height: 100px;
}

.button a {
    padding: 10px 20px !important;
    border: none;
    background-color: #ffffff00;
    color: #0094f7;
    border: 1px solid #0094f7;
    border-radius: 5px;
    text-decoration: none;
    text-decoration: none !important;
}

.button a:hover {
    background-color: #0094f7;
    color: white;
}

.bnts {
    margin: 20px !important;
    text-align: center;
}

@media print {
    .bnts {
        display: none !important;
    }
}